h1{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
font-family: Helvetica;
font-size: 100px;
font-weight: bold;
color: khaki;
text-align: center;
}

.price {
  font-family: Helvetica;
  color: blue;
  font-weight: bold;} 
  
  h1, h2, h3, p {
    font-family: Helvetica;
  }  

#brush{
  color: white;
  background-color: mediumspringgreen;
}

#frames{
  color: white;
  background-color: lightcoral;
}

#paint{
  color: white;
  background-color: skyblue;
}